extends Layout

block content
    br
    br
    p Since this website is for demo purpose contents have been hidden / disabled 
    br
    p Kindly contact site amin at vinanthbs@gmail.com
    br
    br
    span(style='margin-right: 5px;')
        input.btn.btn-secondary(type='button', value ='Cancel', onclick="history.back()")