extends Layout

block content 
    br
    br
    form(method="POST" action="/user/login") 
            h2  Login form  
            #form-group
                label e-mail address
                input#exp_date.form-control(name='email', type='text', maxlength='50', required) 
            #form-group 
                label password  
                input.form-control(name ='password', type ='password',maxlength="19", required)  
            
            <a href="/user/register/" text-align='right'>New User?</a>             
            br    
            br
            input.btn.btn-primary(type='submit', value ='SUBMIT')
            span(style='margin-right: 5px;')
            input.btn.btn-secondary(type='button', value ='Cancel', onclick="history.back()")